@import "tailwindcss";


body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@theme {
    --animate-jiggle: jiggle 0.3s ease-in-out infinite;

    @keyframes jiggle {

        0%,
        100% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }
    }
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes slowFloat {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}


@keyframes floatRotate {
    0% {
        transform: translateY(0px) rotate(1deg);
    }

    25% {
        transform: translateY(-25px) rotate(-3deg);
    }

    50% {
        transform: translateY(-50px) rotate(0deg);
    }

    75% {
        transform: translateY(-25px) rotate(3deg);
    }

    100% {
        transform: translateY(0px) rotate(1deg);
    }
}


