@import "tailwindcss";


body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


@theme {
        --animate-jiggle: jiggle 0.4s ease-in-out infinite;

        @keyframes jiggle {

            0%,
            100% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(2deg);
            }

            75% {
                transform: rotate(-2deg);
            }
        }
    }





@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes slowFloat {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}


@keyframes floatRotate {
    0% {
        transform: translateY(0px) rotate(1deg);
    }

    25% {
        transform: translateY(-25px) rotate(-3deg);
    }

    50% {
        transform: translateY(-50px) rotate(0deg);
    }

    75% {
        transform: translateY(-25px) rotate(3deg);
    }

    100% {
        transform: translateY(0px) rotate(1deg);
    }
}


@keyframes blob {

    0%,
    100% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
}

.animate-blob {
    animation: blob 8s infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}