@import "tailwindcss";


body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


@theme {
        --animate-jiggle: jiggle 0.4s ease-in-out infinite;

        @keyframes jiggle {

            0%,
            100% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(2deg);
            }

            75% {
                transform: rotate(-2deg);
            }
        }
    }





@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes slowFloat {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* laptop float rotate on herosection */


@keyframes floatRotate {
    0% {
        transform: translateY(0px) rotate(1deg);
    }

    25% {
        transform: translateY(-25px) rotate(-3deg);
    }

    50% {
        transform: translateY(-50px) rotate(0deg);
    }

    75% {
        transform: translateY(-25px) rotate(3deg);
    }

    100% {
        transform: translateY(0px) rotate(1deg);
    }
}


/* fluid rotating blob on hero section */

@keyframes fluidBlob {
    0% {
        transform: rotate(0deg) scale(1) translate(0px, 0px);
        filter: hue-rotate(0deg) blur(8px);
    }

    25% {
        transform: rotate(90deg) scale(1.1) translate(10px, -10px);
        filter: hue-rotate(90deg) blur(6px);
    }

    50% {
        transform: rotate(180deg) scale(0.95) translate(-10px, 15px);
        filter: hue-rotate(180deg) blur(10px);
    }

    75% {
        transform: rotate(270deg) scale(1.05) translate(15px, 5px);
        filter: hue-rotate(270deg) blur(7px);
    }

    100% {
        transform: rotate(360deg) scale(1) translate(0px, 0px);
        filter: hue-rotate(360deg) blur(8px);
    }
}

.animate-fluid {
    animation: fluidBlob 20s infinite ease-in-out;
}


.animate-fluid-slow {
    animation: fluidBlob 25s infinite ease-in-out;
}

.animate-fluid-fast {
    animation: fluidBlob 15s infinite ease-in-out;
}